/**
 * @file card.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */

.card {
    text-align: center;

    .img-selfie {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        height: 100%;
    }

    .submit-button {
        width: 70%;
    }
}
