/**
 * @file card.scss
 * @author liangxiaojun(liangxiaojun@derbysoft.com)
 */
@import "./common.scss";

.card {
    text-align: center;

    .img-selfie {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        height: 100%;
    }

    .submit-button {
        width: 70%;
    }

    .loading-wrapper {
        width: 100%;
        height: 600px;
        line-height: 664px;
        background: #e5eff1;
    }

    .hidden-input {
        @include invisible;
    }

    &#result {
        display: none;
    }
}
